# Byte-compiled / cache files
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Secrets (NEVER commit this!)
.env

# Streamlit secrets
.streamlit/secrets.toml